# directories
data/
dataset/
plots/
post_training/
signal_yields/
signal_yields_new/
yields/
rate_snippets/
tmp_fits/
tmva_stuff/
.ipynb_checkpoints/
unblinding_checks/
electron_effic/
old_notebooks
trained_bdts/*.root
trained_bdts/golden_1/

*.png
